@layer reset {
	* {
		margin: 0;
		padding: 0;
	}

	:root {
		-moz-osx-font-smoothing: grayscale !important;
		-webkit-font-smoothing: antialiased !important;
    -webkit-text-size-adjust: none;
		font-feature-settings: "kern";
		font-kerning: normal;
    text-size-adjust: none;
	}

	:focus:not(:focus-visible) {
		outline-color: transparent;
	}

	:target {
		scroll-margin-top: 2ex;
	}

	body {
		min-height: 100vh;
		min-height: 100dvb;
	}

	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
	}

	img {
		font-style: italic;
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}

	button,
	input,
	label,
	select,
	textarea {
		font: inherit;
	}

	@media (prefers-reduced-motion: no-preference) {
		html:focus-within {
			scroll-behavior: smooth;
		}
	}

	@media screen and (-ms-high-contrast: active) {
		button {
			border: 2px solid currentcolor;
		}
	}
}

@layer base {
	@font-face {
		font-family: "Radio Canada";
		src: url("/assets/fonts/RadioCanada.woff2") format("woff2-variations");
		font-display: swap;
		font-weight: 300 700;
		font-width: 75 100;
	}

	@font-face {
		font-family: "Radio Canada";
		src: url("/assets/fonts/RadioCanada-Italic.woff2") format("woff2-variations");
		font-display: swap;
		font-style: italic;
		font-weight: 300 700;
		font-width: 75 100;
	}

	@font-face {
		font-family: "Rowan";
		src: url("/assets/fonts/Rowan.woff2") format("woff2-variations");
		font-display: swap;
		font-weight: 300 700;
	}

	@font-face {
		font-family: "Rowan";
		src: url("/assets/fonts/Rowan-Italic.woff2") format("woff2-variations");
		font-display: swap;
		font-style: italic;
		font-weight: 300 700;
	}

	:root {
		--color-gray-0: #333;
		--color-gray-100: #fff;

		--font-scale: 1.5;

		--font-size--1: calc(var(--font-size-0) / var(--font-scale));
		--font-size-0: 1rem;
		--font-size-1: calc(var(--font-size-0) * var(--font-scale));
		--font-size-2: calc(var(--font-size-1) * var(--font-scale));

		--lh: 1.375;

		--rlh: calc(var(--lh) * 1rem);

		--color-text: var(--color-gray-0);
		--color-bg: var(--color-gray-100);

		font-family: "Radio Canada", Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
		font-size: 100%;
		line-height: var(--lh);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-text: var(--color-gray-100);
			--color-bg: var(--color-gray-0);
		}
	}

	body {
		background-color: var(--color-bg);
		color: var(--color-text);
		display: flex;
		flex-direction: column;
		max-inline-size: 58rem;
		margin-inline: auto;
		padding-inline: var(--rlh);
	}

	body > header {
		border-block-end: 1px solid var(--color-text);
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	body > :is(header, footer) {
		padding-block: var(--rlh);
	}

	body > main {
		flex: 1 1 auto;
	}

	body > footer {
		border-block-start: 1px solid var(--color-text);
		font-size: var(--font-size--1);
		margin-block-start: calc(var(--rlh) * 2);
	}

	h1, h2, h3 {
		font-family: Rowan, Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
	}

	h1 {
		font-size: var(--font-size-2);
		line-height: 1.222;
		margin-block: calc(var(--rlh) * 2);
	}

	h2 {
		font-size: var(--font-size-1);
		margin-block-start: calc(var(--rlh) * 2);
		margin-block-end: calc(var(--rlh) / 2);
	}

	h3 {
		font-size: var(--font-size-0);
	}

	figcaption {
		font-size: var(--font-size--1);
		font-style: italic;
		font-weight: 500;
		margin-block-start: calc(var(--rlh) / 2);
	}

	:where(p, ol, ul, figure) + :where(p, ol, ul, figure) {
		margin-block-start: var(--rlh);
	}
}

@layer layout {
	.flow > * + * {
		margin-block-start: var(--space, var(--rlh));
	}
}
